GITHUB_CLIENT_ID=Ov23liE170V7ORE2eplb
GITHUB_CLIENT_SECRET=
GITHUB_ALLOWED_USERS=Jashk120
OAUTH_ORIGIN=https://jayesh-kathale.netlify.app
OAUTH_STATE_SECRET=
GITHUB_REDIRECT_URI=https://jayesh-kathale.netlify.app/.netlify/functions/auth-callback